<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forum</title>
</head>

<body>
  {{template "navbar" .}}
  <div class="container">
    
      <h1 class="display-4">Post feed</h1>
    {{$id:= .UserId}} 
    {{$role:= .UserRole}} 
    {{$auth:= .Authenticated}}
    {{ range .Posts}}
    <div class="card mb-4">
      <div class="card-header">
       <a href="/post/{{ .Id }}"><h4 class="my-0 font-weight-normal">{{ .Title }}</h4></a> 
      </div>
      
      <div class="card-body">
        <div class="meta">
          <b>Category:
            <a href="/category/{{ .Category}}">{{ .CategoryName}}</a></b>
          <br />
          <b>Posted by: <a href="/user/{{ .Author}}">{{ .AuthorName}}</a></b>
          at {{ .PostingTime}}
          <br />
          <b>Tags: {{if .SeparateTags}} {{range .SeparateTags}}
            <a href="/tags/{{ . }}">{{.}}</a> {{end}}</b>
          <br />
          Likes: {{ .Likes }} Dislikes {{ .Dislikes }} {{else}} No tags
          available {{end}}
        </div>
        <div class="post-text" >
            <pre><p class="content">{{ .Body }}</p></pre>
          </div>
          <img style="min-width:100%; max-width:100%; margin-bottom:10px;" onerror="this.style.display='none'" src="/{{ .Image }}"> 
        <div style="display:flex; flex-wrap: wrap; gap:5px;">
          {{ if $auth}}
          <form action="/like/" method="POST">
            <button class="btn btn-primary" type="submit" name="submit" value="like{{ .Id }}">
              <img src="/static/media/like.png"/>
              Like
            </button>
            <button class="btn btn-primary" type="submit" name="submit" value="dislike{{ .Id }}" class="edit-button">
              <img src="/static/media/dislike.png"/>Dislike
            </button>
          </form>
          {{else}}
          {{end}}
            <form action="/post/{{ .Id }}">
              <button class="btn btn-primary" type="submit" >Add a comment</button> 
            </form>
            {{if eq $id .Author}}
            <form action="/myposts/edit/{{ .Id}}" method="GET" class="edit-button">
              <button class="btn btn-primary" type="submit" name="edit" value="{{ .Id}}">Edit</button>
            </form>
              <form action="/" method="POST" class="edit-button">
                  <button class="btn btn-primary" type="submit" name="delete" value="{{ .Id}}">Delete</button>
              </form>
            {{else if eq $role 3}} 
            <form action="/" method="POST" class="edit-button">
              <button class="btn btn-primary" type="submit" name="delete" value="{{ .Id}}">Delete</button>
          </form>
            {{end}}
        </div>
      </div>
    </div>
    {{end}}
  </div>
  {{template "footer" .}}
</body>
</html>