<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My categories</title>

</head>
<body>
    {{template "navbar" .}}
      <div class="container">
          <h1 class="display-4">Manage categories</h1>
          <form action="/createacategory">
            <button class="btn btn-primary" type="submit" >Create a new category</button> 
          </form>
    <span class="help-block" style="font-size: 12px">Important! Deleting a category will also delete all posts related to it!</span>
    <br>
    List of categories:
    <br>      
    {{range .Categories}}
          {{.Name}}
          <form action="" method="POST" class="edit-button">
            <button class="btn btn-primary" type="submit" name="deletecategory" value="{{ .Id}}">Delete</button>
        </form>
          {{end}}
      </div>
      
  {{template "footer" .}}
</body>
</html>